/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */








a
{
    text-decoration: none;
    color: black;
}

.navigation {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 32px;
    line-height: 39px;
}

.pageButton {
    display: inline-block;
    padding: 10px;
    margin: 1px;
    background: #E4ECEF;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

.pages {
    text-align: center;
}

.recipeBox {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1px;
    border: 2px solid #999;
    border-radius:10px;
    background-color:aquamarine;
    padding: 10px;
    font-size: 16px;
}

.homeButton {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
}

.pageButton:hover {
    animation: hoverOverButton 0.1s ease-in;
    animation-fill-mode: forwards, both;
    cursor: pointer;
}

.currentPage {
    background-color: black;
    color: white;
}

@keyframes hoverOverButton {
    from {
    }

    to {
        transform-origin: center;
        transform: scale(1.1);
    }
}

.searchBar {
    background: #F1F1F1;
    border-radius: 20px;
    border-color: transparent;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

#profile {
    display: inline;
}

#myPfp {
    margin: 5px;
    float: left;
    height: 129px;
    clear: left;
}

#myName {
    margin-left: 10px;
    float: left;
}



























/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}*/

