
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeThesaurus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipeThesaurus.styles.css" asp-append-version="true" />

    <style>
        a
        {
            text-decoration: none;
            color: black;
        }
    </style>

</head>
<body>
    <header>
        <div class="navigation">
            <div class="pages">
                <div style="padding:10px">
    
                    <div id="profile">
                        <img id="myPfp" src="https://agoralearning.co.uk/wp-content/uploads/2017/02/blank-profile-picture.png"></img>
                        @{
                            if (User.Claims.Count() > 3)
                            {
                                <div id="myName" style="float:left;">@User.Claims.ElementAt(3).Value</div>
                            }
                            else
                            {
                                <div id="myName" style="float:left;">Sign in</div>
                            }
                        }
                        
                    </div>
            
                    <form asp-controller="Secrets" asp-action="Search">
                        <input class="searchBar" type="text" placeholder="Search.." name="search" onsubmit="" asp-controller="Home" >
                    </form>
                </div>
        
                <div style="padding:10px">
                    <!--<div class="pageButton"><a asp-area="" asp-controller="Home" asp-action="Recommend">Recommend</a></div>-->
                    @{
                        if (User.Claims.Count() >= 3)
                        {
                            <div class="pageButton"><a asp-area="" asp-controller="Secrets" asp-action="Index">Home</a></div>
                            <div class="pageButton"><a asp-area="" asp-controller="Secrets" asp-action="Saved">Saved</a></div>
                            <div class="pageButton"><a asp-area="" asp-controller="Secrets" asp-action="Create">Create</a></div>
                            
                            <div class="pageButton"><a href="http://backoffice.recipethesaurus.software/oauth2/logout">Logout</a></div>

                        }
                        else
                        {
                            <div class="pageButton"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
                            <div class="pageButton"><a asp-area="" asp-controller="Secrets" asp-action="Index">Login</a></div>
                        }

                        <!--<div class="pageButton"><a asp-area="" asp-controller="Home" asp-action="Settings">Settings</a></div>-->
                        <div class="pageButton"><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
                    }
                </div>
            </div>
        </div>

        <!--


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RecipeThesaurus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Secrets" asp-action="Recpies">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Secrets" asp-action="Search">Search</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>

        -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RecipeThesaurus - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

