@{
    ViewData["Title"] = "Create a recipe";
}
<div class="text-center">
    <p>
        <form asp-controller="Secrets" asp-action="CreateRecipe" UseSubmitBehavior="False">
            <input class="input" type="text" placeholder="Title" name="title">
            <br /><input class="input" type="text" placeholder="Description" name="description">
            <br />Use a , to seperate ingredients
            <br /><input class="input" type="text" placeholder="Ingredients" name="ingredients">
            <br /><input class="input" type="text" placeholder="Instructions" name="instructions">
            <br /><input class="input" type="text" placeholder="Image" name="image">
            <br /><input class="input" type="submit" placeholder="Create">
        </form>
    </p>
</div>