@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <!-- Display some random information-->
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Recipes</h2>
            <!-- Insert -->
            <div class="recipeBox">
                @{
                    foreach (var item in ViewData["RecipeList"] as List<Recipe>)
                    {
                        <div class="recipeBox">
                            <h3>@item.name</h3>
                            @item.description
                        </div>
                    }
                }
                <!--getdata-->
            </div>
            <p>Some text..</p>
            <p>Some more text..</p>
        </div>
        <div class="col-sm-6">
            <h2>Events and people</h2>
            <p>Some text..</p>
            <p>Some more text..</p>
        </div>
    </div>
</div>