@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    h3 {font-size:150%; font-family:Verdana}
    span {font-family:Verdana;}
</style>

<h3>Online privacy practices</h3>
<p>    
    <span>
        We are in full compliance with the data protection acts and ensure we comply with all the laws that affect you.
        They are placed onto your device and allow us to identify who is using our services.
        They cannot identify you as an individual user, just the device used to acces this service.
        We may use cookies to improve or personalise your experience of our services.
    </span>
</p>
 

    <!-- I dont know if this is useful -->

<h3>Cookies we use</h3>
<p>
    <span>We use cookies to make this site work and their purposes are described below</span>
    <table width=500>
        <tr align=left>
        <tr>
            <th>Name</th>
            <th>Purpose</th>
            <th>Expires</th>
        </tr>
        <tr>
            <td>session_cookie</td>
            <td>Used to keep you signed in</td>
            <td>7 days</td>
        </tr>
        <tr>
            <td>user_basket</td>
            <td>Tracks the items within your shopping basket</td>
            <td>30 days</td>
        </tr>
        <tr>
            <td>language_pref</td>
            <td>The language the site uses</td>
            <td>1 year</td>
        </tr>
        <tr>
            <td>site_pref</td>
            <td>Changes the display settings</td>
            <td>1 year</td>
        </tr>
    </table>
    <span>This site does not use analytical cookies</span> <!--Currently-->
</p>

<h3>Disabling cookies</h3>
<p>
    <span>
        If you prefer to disable all cookies, you can do so via your browser.
        Doing so will still alow you to naviagate the site however some functionality will not be provided.
        You will have to log back in every session and have to change accessibility settings each time you visit.
    </span>
</p>
<!-- List format of the cookies
<ul>
    <font size=2>
    <li>To recognize when you log in</li>
    <li>To track your shopping list</li>
    <li>To track your personal preferences</li>
    </font>
</ul>
-->
